.form
  @at-root #{&}__group
    float: left
    width: 100%
    padding: 5px 10px
    margin-bottom: 20px
    box-sizing: border-box

    @at-root #{&}--6of12
      width: 50%

  @at-root #{&}__label
    padding-left: 5px
    text-transform: uppercase

  @at-root #{&}__field
    width: 100%
    min-height: 3em
    padding: 10px
    font: inherit
    line-height: 1.4
    background: inherit
    border: 1px solid #cccccc
    border-radius: $border-radius
    outline: none
    box-sizing: border-box
    transition: border-color $t-speed $t-func, background $t-speed $t-func

    &:hover, &:focus
      border-color: $dark-green
      background: $gray

    @at-root #{&}--vert-resizeable
      min-height: 200px
      resize: vertical
