%nav.nav
  %ul.nav__list
    - base_classes = "nav__link btn-min btn-min--light "
    %li.nav__list-item
      = link_to 'Home', home_path, class: base_classes + active_class(home_path, "nav__link--active")
    %li.nav__list-item
      = link_to 'Portfolio', sessions_path, class: base_classes + active_class(sessions_path, "nav__link--active")
    %li.nav__list-item
      %a.nav__link.btn-min.btn-min--light(href="#") Pricing
    %li.nav__list-item
      %a.nav__link(href="#")
        %img.header__logo(src="https://placehold.it/200x200")
    %li.nav__list-item
      = link_to 'Prints', prints_path, class: base_classes + active_class(prints_path, "nav__link--active")
    %li.nav__list-item
      %a.nav__link.btn-min.btn-min--light(href="#") About
    %li.nav__list-item
      %a.nav__link.btn-min.btn-min--light(href="#") Contact
