%section.about.clearfix
  %h2.about__title About Me

  - if logged_in?
    = render 'users/edit', user: @user
  - else
    .row.about__content.clearfix
      .col.col--6of12
        %img.about__img(src="#{@user.portrait}")
      .col.col--6of12
        .about__summary= display_paragraphs(@user.summary, nil, false)

    %hr.about__hr

    %p.about__form__explain Want to find out more? Interested in prints, booking a event? Or maybe you spotted a typo on my website? Send me message.

    = render 'contact_me/form', contact_me: @contact_me
