%h2.foot__title Tracy's Photo Studio
%nav.foot__nav
  %ul
    %li.foot__nav-list-item
      %a.foot__nav-link.btn-min.btn-min--light(href="#") Home
    %li.foot__nav-list-item
      %a.foot__nav-link.btn-min.btn-min--light(href="#") Portfolio
    %li.foot__nav-list-item
      %a.foot__nav-link.btn-min.btn-min--light(href="#") Pricing
    %li.foot__nav-list-item
      %a.foot__nav-link.btn-min.btn-min--light(href="#") Prints
    %li.foot__nav-list-item
      %a.foot__nav-link.btn-min.btn-min--light(href="#") About
    %li.foot__nav-list-item
      %a.foot__nav-link.btn-min.btn-min--light(href="#") Book Me
%ul.foot__social
  %li.foot__social__item
    %a.foot__social__link.btn-icon(href="#")
      %i.fab.fa-instagram
  %li.foot__social__item
    %a.foot__social__link.btn-icon(href="#")
      %i.fab.fa-facebook
  %li.foot__social__item
    %a.foot__social__link.btn-icon(href="#")
      %i.fab.fa-flickr
  %li.foot__social__item
    %a.foot__social__link.btn-icon(href="#")
      %i.fab.fa-twitter
  %li.foot__social__item
    %a.foot__social__link.btn-icon(href="#")
      %i.fas.fa-envelope
%p.copyright
  %small Copyright © 2017 Tracy's Photo Studio
%p.design-by
  %small Design by One Guy
