%section.admin_create_kind.clearfix
  %form
    %fieldset
      %dl.form__group.form__group--6of12
        %dt.form__item
          %label.form__label Name
        %dd.form__item
          %input.form__field(type="text" placeholder="Amazing Person")
      %dl.form__group.form__group--6of12
        %dt.form__item
          %label.form__label Gist
        %dd.form__item
          %input.form__field(type="text" placeholder="A 1-2 sentence description.")
      %dl.form__group
        %dt.form__item
          %label.form__label Description
        %dd.form__item
          %textarea.form__field.form__field--vert-resizeable(placeholder="This is a longer description that could be used to provide extra details for people who may be looking for such things.")
      %dl.form__group.form__group--6of12
        %dt.form__item
          %label.form__label Banner
        %dd.form__item
          %input.form__field(type="file")
      %dl.form__group.form__group--6of12
        %dt.form__item
          %label.form__label Cover
        %dd.form__item
          %input.form__field(type="file")
      %dl.form__group.form__group--6of12
        %dt.form__item
          %label.form__label Price
        %dd.form__item.form-addon-group
          %span.form-addon-group__addon
            %i.fas.fa-dollar-sign
          %input.form__field.form-addon-group__item(type="number" step="0.01" min="0" placeholder="1399.99")
      %dl.form__group.form__group--6of12
        %dt.form__item
          %label.form__label Price Description
        %dd.form__item
          %textarea.form__field.form__field--vert-resizeable(placeholder="Describe what the client will receive for this price.")
    .form__group
      %input.btn.btn--wide(type="submit" value="Create")
