%section.admin_edit_user.clearfix
  %form
    %fieldset
      %dl.form__group.form__group--6of12
        %dt.form__item
          %label.form__label Name
        %dd.form__item
          %input.form__field(type="text" value="Tracy Awesome")
      %dl.form__group.form__group--6of12
        %dt.form__item
          %label.form__label Email
        %dd.form__item
          %input.form__field(type="email" value="tracy@example.com")
      %dl.form__group.form__group--6of12
        %dt.form__item
          %label.form__label Password
        %dd.form__item
          %input.form__field(type="password")
      %dl.form__group.form__group--6of12
        %dt.form__item
          %label.form__label Portrait
        %dd.form__item
          %input.form__field(type="file")
      %dl.form__group
        %dt.form__item
          %label.form__label Summary
        %dd.form__item
          %textarea.form__field.form__field--vert-resizeable
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt turpis purus, nec euismod mauris convallis non. Quisque facilisis nibh ac ligula blandit, non finibus ipsum pretium. Aliquam erat volutpat. Aenean eget iaculis sem. Phasellus et pellentesque elit, sit amet sagittis mauris. Morbi suscipit scelerisque neque. Donec urna nunc, consectetur vitae aliquam semper, ultrices ut sem. Integer suscipit neque dictum, euismod nisl eu, auctor magna. Proin elementum semper dolor, a lobortis sem feugiat ut. Nulla eget tincidunt orci. Etiam eu pretium risus. Suspendisse sollicitudin odio ac magna pretium, at vestibulum urna viverra. Integer ullamcorper tristique diam, sit amet convallis sem volutpat ac. Mauris gravida arcu vitae sem placerat, in dignissim orci accumsan. Cras id quam vitae justo varius aliquet.
    .form__group
      %input.btn.btn--wide(type="submit" value="Update")
