%a.btn Create New Kind

%section.kinds.clearfix
  .kind__container
    %a.kind__link(href="#")
      %article.kind
        .kind__img-container
          %img.kind__img(src="/tmp/portfolio_family.jpg")
        .kind__content
          %h2.kind__title Family Photography
          %p.kind__desc
            This is a description of the style of events I do regarding this type of photography. This gallery gives examples of my super stunning awesome work capturing the days of others. You only wish you could have photos like these. Oh wait, you can.
    %a.btn-delete.btn-delete--bottom-right(href="#" data-confirm="Are you sure you want to delete this kind?") Delete
  .kind__container
    %a.kind__link(href="#")
      %article.kind
        .kind__img-container
          %img.kind__img(src="/tmp/portfolio_engagement.jpg")
        .kind__content
          %h2.kind__title Engagement Photography
          %p.kind__desc
            This is a description of the style of events I do regarding this type of photography. This gallery gives examples of my super stunning awesome work capturing the days of others. You only wish you could have photos like these. Oh wait, you can.
    %a.btn-delete.btn-delete--bottom-right(href="#" data-confirm="Are you sure you want to delete this kind?") Delete
  .kind__container
    %a.kind__link(href="#")
      %article.kind
        .kind__img-container
          %img.kind__img(src="/tmp/portfolio_newborn.jpg")
        .kind__content
          %h2.kind__title Newborn Photography
          %p.kind__desc
            This is a description of the style of events I do regarding this type of photography. This gallery gives examples of my super stunning awesome work capturing the days of others. You only wish you could have photos like these. Oh wait, you can.
    %a.btn-delete.btn-delete--bottom-right(href="#" data-confirm="Are you sure you want to delete this kind?") Delete
  .kind__container
    %a.kind__link(href="#")
      %article.kind
        .kind__img-container
          %img.kind__img(src="/tmp/portfolio_portrait.jpg")
        .kind__content
          %h2.kind__title Portrait Photography
          %p.kind__desc
            This is a description of the style of events I do regarding this type of photography. This gallery gives examples of my super stunning awesome work capturing the days of others. You only wish you could have photos like these. Oh wait, you can.
    %a.btn-delete.btn-delete--bottom-right(href="#" data-confirm="Are you sure you want to delete this kind?") Delete
