%section.kinds
  %a.kinds__link(href="#")
    %article.kind
      .kind__img-container
        %img.kind__img(src="/tmp/portfolio_family.jpg")
      .kind__content
        %h2.kind__title Family Photography
        %p.kind__desc
          This is a description of the style of sessions I do regarding this type of photography. This gallery gives examples of my super stunning awesome work capturing the days of others. You only wish you could have photos like these. Oh wait, you can.
  %a.kinds__link(href="#")
    %article.kind
      .kind__img-container
        %img.kind__img(src="/tmp/portfolio_engagement.jpg")
      .kind__content
        %h2.kind__title Engagement Photography
        %p.kind__desc
          This is a description of the style of sessions I do regarding this type of photography. This gallery gives examples of my super stunning awesome work capturing the days of others. You only wish you could have photos like these. Oh wait, you can.
  %a.kinds__link(href="#")
    %article.kind
      .kind__img-container
        %img.kind__img(src="/tmp/portfolio_newborn.jpg")
      .kind__content
        %h2.kind__title Newborn Photography
        %p.kind__desc
          This is a description of the style of sessions I do regarding this type of photography. This gallery gives examples of my super stunning awesome work capturing the days of others. You only wish you could have photos like these. Oh wait, you can.
  %a.kinds__link(href="#")
    %article.kind
      .kind__img-container
        %img.kind__img(src="/tmp/portfolio_portrait.jpg")
      .kind__content
        %h2.kind__title Portrait Photography
        %p.kind__desc
          This is a description of the style of sessions I do regarding this type of photography. This gallery gives examples of my super stunning awesome work capturing the days of others. You only wish you could have photos like these. Oh wait, you can.
