%section.sessions
  %h2.sessions__title Sessions
  %ul.sessions__list
    %li.session-card
      %a.session-card__link(href="#")
        %img.session-card__img(src="/tmp/portfolio_family.jpg")
        .session-card__overlay
          %ul.session-card__overlay-content
            %li.session-card__time
              %time(datetime="2017-12-31") 12.31.2017
            %li.session-card__title
              %h3.session-card__title--inner Awesome Family
            %li.session-card__kind
              %small Family Session
    %li.session-card
      %a.session-card__link(href="#")
        %img.session-card__img(src="/tmp/portfolio_engagement.jpg")
        .session-card__overlay
          %ul.session-card__overlay-content
            %li.session-card__time
              %time(datetime="2017-12-31") 12.31.2017
            %li.session-card__title
              %h3.session-card__title--inner Awesome Family
            %li.session-card__kind
              %small Family Session
    %li.session-card
      %a.session-card__link(href="#")
        %img.session-card__img(src="/tmp/portfolio_newborn.jpg")
        .session-card__overlay
          %ul.session-card__overlay-content
            %li.session-card__time
              %time(datetime="2017-12-31") 12.31.2017
            %li.session-card__title
              %h3.session-card__title--inner Awesome Family
            %li.session-card__kind
              %small Family Session
    %li.session-card
      %a.session-card__link(href="#")
        %img.session-card__img(src="/tmp/portfolio_portrait.jpg")
        .session-card__overlay
          %ul.session-card__overlay-content
            %li.session-card__time
              %time(datetime="2017-12-31") 12.31.2017
            %li.session-card__title
              %h3.session-card__title--inner Awesome Family
            %li.session-card__kind
              %small Family Session
    %li.session-card
      %a.session-card__link(href="#")
        %img.session-card__img(src="/tmp/portfolio_family.jpg")
        .session-card__overlay
          %ul.session-card__overlay-content
            %li.session-card__time
              %time(datetime="2017-12-31") 12.31.2017
            %li.session-card__title
              %h3.session-card__title--inner Awesome Family
            %li.session-card__kind
              %small Family Session
    %li.session-card
      %a.session-card__link(href="#")
        %img.session-card__img(src="/tmp/portfolio_engagement.jpg")
        .session-card__overlay
          %ul.session-card__overlay-content
            %li.session-card__time
              %time(datetime="2017-12-31") 12.31.2017
            %li.session-card__title
              %h3.session-card__title--inner Awesome Family
            %li.session-card__kind
              %small Family Session
    %li.session-card
      %a.session-card__link(href="#")
        %img.session-card__img(src="/tmp/portfolio_newborn.jpg")
        .session-card__overlay
          %ul.session-card__overlay-content
            %li.session-card__time
              %time(datetime="2017-12-31") 12.31.2017
            %li.session-card__title
              %h3.session-card__title--inner Awesome Family
            %li.session-card__kind
              %small Family Session
    %li.session-card
      %a.session-card__link(href="#")
        %img.session-card__img(src="/tmp/portfolio_portrait.jpg")
        .session-card__overlay
          %ul.session-card__overlay-content
            %li.session-card__time
              %time(datetime="2017-12-31") 12.31.2017
            %li.session-card__title
              %h3.session-card__title--inner Awesome Family
            %li.session-card__kind
              %small Family Session
    %li.session-card
      %a.session-card__link(href="#")
        %img.session-card__img(src="/tmp/portfolio_family.jpg")
        .session-card__overlay
          %ul.session-card__overlay-content
            %li.session-card__time
              %time(datetime="2017-12-31") 12.31.2017
            %li.session-card__title
              %h3.session-card__title--inner Awesome Family
            %li.session-card__kind
              %small Family Session
    %li.session-card
      %a.session-card__link(href="#")
        %img.session-card__img(src="/tmp/portfolio_engagement.jpg")
        .session-card__overlay
          %ul.session-card__overlay-content
            %li.session-card__time
              %time(datetime="2017-12-31") 12.31.2017
            %li.session-card__title
              %h3.session-card__title--inner Awesome Family
            %li.session-card__kind
              %small Family Session
    %li.session-card
      %a.session-card__link(href="#")
        %img.session-card__img(src="/tmp/portfolio_newborn.jpg")
        .session-card__overlay
          %ul.session-card__overlay-content
            %li.session-card__time
              %time(datetime="2017-12-31") 12.31.2017
            %li.session-card__title
              %h3.session-card__title--inner Awesome Family
            %li.session-card__kind
              %small Family Session
    %li.session-card
      %a.session-card__link(href="#")
        %img.session-card__img(src="/tmp/portfolio_portrait.jpg")
        .session-card__overlay
          %ul.session-card__overlay-content
            %li.session-card__time
              %time(datetime="2017-12-31") 12.31.2017
            %li.session-card__title
              %h3.session-card__title--inner Awesome Family
            %li.session-card__kind
              %small Family Session
