%table.contact-me
  %tr
    %td.contact-me__label Name:
    %td.contact-me__content= @client.name
  %tr
    %td.contact-me__label Email:
    %td.contact-me__content= @client.email
  %tr
    %td.contact-me__label Message:
    %td.contact-me__content= @client.message
